.wrapper,
.middle-content {
    overflow: hidden;
}

.custom.container {
    max-width: 1700px;
}

.left-title {
    flex-basis: 200px;
}

.left-title h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #0b162e;
    margin-bottom: 0;
}

/* inside_section_2 pg abput start */

/* section.inside_section_2 .wrapper-content {
    max-width: 1806px;
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
} */
section.inside_section_2.pg_about {
    padding-bottom: 90px;
}
section.inside_section_2 .inside-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
section.inside_section_2 .left-title {
    /* display: flex; */
    padding-top: 180px;
    /* padding-left: 100px; */
    /* padding-right: 160px; */
    flex-basis: 200px;
    white-space: nowrap;
}
section.inside_section_2 .left-title h3 {
    line-height: 2;
}
section.inside_section_2 .inside_content_right {
    display: flex;
    position: relative;
}
section.inside_section_2 .inside_content_right .img-section-2 {
    position: absolute;
    right: 21px;
    /* top: 27.5%; */
    bottom: -15.5%;
}
section.inside_section_2 .inside_content_right .right-caption {
    flex: 0 0 60%;
}
section.inside_section_2 .inside_content_right.bg-green {
    /* background-color: #26ff82; */
    padding-left: 82px;
    padding-top: 178px;
    padding-bottom: 78px;
    width: auto;
    position: relative;
    max-width: 1377px;
    width: 100%;
}
section.inside_section_2 .inside_content_right.bg-green::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    /* width: 130%; */
    width: 1800px;
    height: 100%;
    z-index: -1;
    background-color: #26ff82;
}
section.inside_section_2 .inside_content_right .right-caption h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 43.14px;
    font-weight: 700;
    color: black;
    margin-bottom: 32px;
}
section.inside_section_2 .inside_content_right .right-caption p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.4;
    color: black;
    margin-bottom: 34px;
}
section.inside_section_2.pg_about .inside_content_right .img-section-2 .location {
    text-align: right;
    position: absolute;
    bottom: 31px;
    left: -50%;
    transform: translateX(-63%);
}
section.inside_section_2 .location h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: black;
    margin-bottom: 2px;
}
section.inside_section_2 .location p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: #262626;
    margin-bottom: 0;
    white-space: nowrap;
}
/* inside_section_2 pg about end */


/* inside_section_3 pg_about start */
section.inside_section_3.pg_about {
    padding-top: 153px;
    padding-bottom: 112px;
}
section.inside_section_3 .outer-content {
    padding-right: 23px;
}
section.inside_section_3 .inside-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
section.inside_section_3 .inside-content .right-content {
    background-color: #ba673b;
    max-width: 1377px;
    width: 100%;
    padding: 109px 80px 105px 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
section.inside_section_3 .inside-content .right-content .visi {
    flex: 0 0 47%;
}
section.inside_section_3 .inside-content .right-content .misi {
    flex: 0 0 46%;
}
section.inside_section_3 .inside-content .right-content h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 43.14px;
    font-weight: 400;
    color: white;
    margin-bottom: 51px;
}
section.inside_section_3 .inside-content .right-content .visi p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
}
section.inside_section_3 .inside-content .right-content .misi ul li {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding-bottom: 15px;
}
section.inside_section_3 .inside-content .right-content .misi ul {
    padding-left: 1.5rem;
}
/* inside_section_3 pg_about end */

/* inside_section$ pg_about start */

section.inside_section_4.pg_about.bg-gray {
    padding-top: 112px;
}
section.inside_section_4 .inside-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
section.inside_section_4 .outer-content {
    padding-right: 23px;
    padding-bottom: 90px;
}
section.inside_section_4 .inside-content .list-kultur.right-content {
    background-color: #f3f3f5;
    max-width: 1377px;
    width: 100%;
    padding: 97px 80px 129px 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 66px;
}
section.inside_section_4 .inside-content .list-kultur .item {
    max-width: 533px;
}
section.inside_section_4 .inside-content .list-kultur .item .img {
    text-align: center;
    padding-bottom: 67px;
}
section.inside_section_4 .inside-content .list-kultur .item .box-caption h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: black;
    letter-spacing: 1px;
    margin-bottom: 16px;
}
section.inside_section_4 .inside-content .list-kultur .item .box-caption li {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: black;
    line-height: 1.5;
}
section.inside_section_4 .inside-content .list-kultur .item .box-caption ul {
    padding-left: 1.4rem;
}
/* inside_section$ pg_about end */