.wrapper,
.middle_content {
    overflow: hidden;
}

.custom.container {
    max-width: 1700px;
}

.left-title {
    flex-basis: 200px;
}

.left-title h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #0b162e;
    margin-bottom: 0;
}

/* inside_section_1 start */
section.inside_section_1.bg-dark-green {
    background-color: #19504a;
    padding-top: 200px;
    padding-bottom: 103px;
    position: relative;
}
section.inside_section_1 .img-hero {
    position: absolute;
    left: 0;
    top: 27%;
}
section.inside_section_1 .outer-content {
    padding-top: 112px;
}
section.inside_section_1 .inside-content {
    display: flex;
    align-items: center;
    justify-content: end;
}
section.inside_section_1 .inside-content .right-caption {
    flex-basis: 45.5%;
    padding-right: 33px;
}
section.inside_section_1 .inside-content .right-caption h4 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #26ff82;
    margin-bottom: 28px;
}
section.inside_section_1 .inside-content .right-caption h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 41.14px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
    margin-bottom: 19px;
}
section.inside_section_1 .inside-content .right-caption p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 27px;
}
section.inside_section_1 .inside-content .right-caption .name p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 26px;
}
section.inside_section_1 .inside-content .right-caption .name p span {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: #fff;
}
/* inside_section_1 end */

/* inside_section_2  start */
section.inside_section_2 .inside_content_right.bg-dark-orange {
    padding-left: 82px;
    padding-top: 126px;
    padding-bottom: 90px;
    padding-right: 26px;
    width: auto;
    position: relative;
    max-width: 1377px;
    width: 100%;
}
section.inside_section_2 .inside_content_right.bg-dark-orange .box-caption p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
}
section.inside_section_2 .inside_content_right.bg-dark-orange::after {
    content: '';
    position: absolute;
    left: -0px;
    top: 0;
    /* width: 130%; */
    width: 1822px;
    height: 100%;
    z-index: -1;
    background-color: #b86028;
}
/* inside_section_2 end */


/* inside_section_3 start */
section.inside_section_3.pg_dana_mudah,
section.inside_section_3.pg_simpanan {
    padding-top: 160px;
}
section.inside_section_3 .outer-content.list_card_description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 0px;
    padding-bottom: 90px;
}
section.inside_section_3 .inside-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
section.inside_section_3 .inside-content.item {
    padding-top: 67px;
}
section.inside_section_3 .inside-content.item:first-of-type {
    padding-top: 0px;
}
section.inside_section_3 .inside-content .card-content {
    background-color: #00a651;
    max-width: 1377px;
    width: 100%;
    /* padding: 109px 80px 105px 80px; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
section.inside_section_3 .inside-content .card-content .box-caption {
    /* padding: 80px 94px 71px 94px; */
    padding: 0px 94px;
    padding-top: 80px;
    padding-bottom: 30px;
}
section.inside_section_3 .inside-content .card-content .box-caption p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 31px;
}
section.inside_section_3 .inside-content .card-content .box-caption p span {
    font-weight: 700;
    color: #fff;
}
section.inside_section_3 .inside-content.item a.nav-link {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    gap: 15px;
}
section.inside_section_3.pg_simpanan .inside-content .card-content .box-caption p span {
    font-style: italic;
    font-weight: 400;
}
section.inside_section_3 .inside-content .card-content .box-caption h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 29px;
}
/* inside_section_3 end */

